html {
  overflow: auto; }

body {
  font-family: "Yu Gothic";
  font-weight: 500;
  margin: 0;
  padding: 0; }

.container-inner {
  width: 1000px;
  margin: 0 auto; }

nav, ul, li, ul li {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none;
  float: left; }

a {
  text-decoration: none; }

/*===== COLOR-var === */
/*======================================
           HOME PAGE
========================================*/
/*--------Header------------*/
.social-icon {
  margin: 0; }
  .social-icon li {
    margin: 0 7.5px; }
    @media (max-width: 768px) {
      .social-icon li {
        margin: 0 3.5px; } }
    .social-icon li:hover i::before {
      color: #642200; }
    .social-icon li:hover i {
      border: 1px solid #642200; }
  .social-icon i {
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 100%; }
    .social-icon i::before {
      background: transparent;
      color: #fff; }

.home-head {
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 20px;
  height: 100vh; }
  @media (max-width: 768px) {
    .home-head {
      padding: 0;
      height: auto; } }
  .home-head .logo {
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.slider img {
  width: 100%; }

.slider li {
  position: relative; }

.slider .content {
  display: inline-block;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff; }
  @media (max-width: 768px) {
    .slider .content {
      top: 60%; } }

/*------- Style -------------*/
.block {
  width: 50%;
  float: left; }

.item {
  display: inline-block;
  float: left; }

.item-inner {
  display: inline-block;
  float: right; }

.mybtn {
  width: 216px;
  height: 32px;
  display: block;
  line-height: 30px;
  text-align: center; }
  .mybtn:hover {
    text-decoration: none;
    background: #642200;
    color: #fff; }

.hide-sm {
  display: none; }

.inner-mybtn {
  background: #642200;
  color: #fff; }

.main-page {
  overflow: hidden; }

/*------- Content 01 - BAKE -------------*/
.bake-btn {
  border: 2px solid #642200;
  color: #642200; }

.bake-content {
  margin-top: 20px;
  color: #642200; }
  .bake-content .left {
    background-image: url(../images/bg-bake01.png);
    background-position: center;
    background-size: coverss;
    background-repeat: no-repeat;
    height: 424px;
    position: relative; }
  .bake-content .bake {
    width: 520px;
    height: 244px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ffffffc2;
    padding-left: 70px;
    padding-top: 35px; }
    .bake-content .bake img {
      margin: 0 auto;
      padding-bottom: 25px; }
  .bake-content .right {
    background-image: url(../images/bg-bake02.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 424px;
    position: relative; }
  .bake-content .label {
    position: absolute;
    top: -15px;
    right: 30px; }

/*--------------------Content 02 - REASON ----------------------*/
.reason {
  clear: both;
  padding: 90px 0;
  height: 392px;
  background: #fff3e1; }
  .reason .title {
    width: 100px; }
  .reason .content {
    width: 900px;
    line-height: 2; }

.reason-btn {
  background: #642200;
  color: #fff;
  border: 2px solid #642200; }
  .reason-btn:hover {
    background: #fff;
    color: #642200; }

/*--------------------Content 03 - NEWS ----------------------*/
.news {
  background: #ff9c46;
  overflow: hidden;
  padding: 90px 0;
  clear: both; }
  .news .image {
    width: 80px;
    float: left; }
  .news .box-news {
    margin-top: 40px;
    overflow: hidden;
    margin-bottom: 50px; }
  .news .content {
    width: 220px;
    height: 80px;
    background: #fff3e1;
    padding-left: 12px;
    padding-top: 5px;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 768px) {
      .news .content {
        padding-top: 15px;
        width: 80%;
        height: 100%;
        display: table-cell; } }
  .news p {
    font-size: 13px;
    margin: 0; }
  .news .box-cell {
    clear: both;
    margin-bottom: 15px;
    overflow: hidden;
    width: 300px; }
  .news .box:nth-child(2) {
    margin: 0 50px; }
  .news h3 {
    text-align: center;
    margin-bottom: 20px; }
  .news .title {
    text-align: center; }
  .news span {
    font-size: 14px;
    border-bottom: 1px solid; }
  .news .sub-new {
    text-align: center;
    clear: both; }
  .news .btn-new {
    width: 296px;
    height: 31px;
    display: inline-block;
    text-align: center;
    line-height: 2;
    background: #642200;
    color: #fff;
    border: 2px solid #642200; }
    .news .btn-new:hover {
      text-decoration: none;
      background: #fff;
      color: #642200; }

/*-------------------- FOOTER ----------------------*/
footer {
  background-image: url(../images/bg-footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 535px;
  text-align: center;
  color: #fff; }
  footer .line01 span {
    width: 200px;
    border: 1px solid #fff;
    display: inline-block;
    margin: 30px 0; }
  footer .social {
    position: relative; }
    footer .social p {
      margin-top: 40px; }
  footer .social-icon {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%; }
    @media (max-width: 768px) {
      footer .social-icon i {
        background: transparent;
        color: #fff; } }
  footer .logo {
    padding-top: 50px; }
  footer .contact {
    margin-top: 45px; }

/*======================================
         SWEETS PAGE
========================================*/
.sweets-head {
  background-image: url(../images/sweet/bg-main.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 518px;
  text-align: center;
  padding-top: 120px;
  overflow: hidden;
  position: relative; }

.main-menu {
  width: 100%;
  position: absolute;
  line-height: 2.5;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10; }
  .main-menu .nav-item {
    margin: 0 15px; }

.link {
  color: #fff; }
  .link:hover {
    color: #642200; }

.menu-all {
  display: inline-block; }

.sweets-page {
  overflow: auto;
  padding-bottom: 80px; }
  .sweets-page .title {
    text-align: center;
    margin-bottom: 40px; }

/*-------------------- Moco white ----------------------*/
.moco-white {
  padding-top: 50px;
  overflow: hidden;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .moco-white {
      padding-bottom: 80px;
      padding-top: 80px; } }

.moco-first {
  padding-bottom: 50px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 50px; }

.moco-first-img, .moco-second-img {
  width: 300px; }

.moco-first-content, .moco-second-content {
  width: 700px;
  line-height: 1.5; }
  .moco-first-content p, .moco-second-content p {
    margin-top: 0;
    margin-bottom: 10px; }
  .moco-first-content h3, .moco-second-content h3 {
    margin-top: 0; }
  .moco-first-content .content, .moco-second-content .content {
    margin-right: 20px; }

.moco-mybtn {
  clear: both; }

.moco-second-content {
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5; }
  .moco-second-content h3 {
    margin-bottom: 10px; }
  .moco-second-content strong {
    display: block; }
  .moco-second-content .content {
    margin-right: 0; }

/*-------------------- Moco Gray ----------------------*/
.moco-gray {
  background: #fbfbfb;
  padding-top: 90px; }
  @media (max-width: 768px) {
    .moco-gray {
      padding-top: 60px; } }

.moco-gray-bg img {
  width: 100%;
  border-radius: 10px; }

.moco-gray-content {
  padding: 50px 75px; }
  .moco-gray-content h3 {
    color: #642200;
    border-bottom: 2px dotted #642200;
    padding-bottom: 5px; }
  @media (max-width: 768px) {
    .moco-gray-content {
      padding: 30px 0; } }

/*-------------------- Voice ----------------------*/
.voice {
  padding-top: 90px; }
  @media (max-width: 768px) {
    .voice {
      padding-top: 60px; } }
  .voice .title-box {
    margin-bottom: 20px;
    text-align: center; }
  .voice .box-item {
    width: 320px;
    height: 540px;
    border: 1px solid #cccccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 30px;
    line-height: 1.5; }
    .voice .box-item h3 {
      color: #642200;
      border-bottom: 1px dotted #642200;
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 5px; }
    @media (max-width: 768px) {
      .voice .box-item {
        width: 100%;
        margin-bottom: 25px; } }
  .voice .box-item:nth-child(2) {
    margin: 0 20px; }
    @media (max-width: 768px) {
      .voice .box-item:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px; } }

/*==========================================
        RESPONSIVE 
===========================================*/
@media (max-width: 768px) {
  /*RESET*/
  .block {
    width: 100%;
    text-align: center; }
  .hide-sm {
    display: block; }
  .hide-md {
    display: none; }
  .container-inner {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /*--------------- Main menu ---------------*/
  .main-menu {
    width: 100%;
    top: 20%;
    padding-top: 135px;
    max-height: 0;
    opacity: 0;
    background: #f9f4f0;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .main-menu .nav-item {
      width: 100%; }
  #menu-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 999; }
    #menu-icon img {
      width: 50%; }
  .link {
    color: #642200; }
  .social-icon {
    display: inline-block; }
    .social-icon i {
      background: #642200;
      color: #f8f7f6; }
  /*===================== HOME PAGE ===================*/
  .bake-content .label {
    display: none; }
  .bake-content img {
    width: 50%; }
  .bake-content .bake {
    padding-top: 30px;
    padding-left: 0;
    width: 70%;
    height: auto;
    padding-bottom: 40px; }
    .bake-content .bake img {
      margin: 0 auto;
      padding-bottom: 24px; }
  .bake-content .bake-btn {
    margin: 0 auto;
    background: #642200;
    color: #fff;
    width: 80%;
    line-height: 30px; }
    .bake-content .bake-btn:hover {
      background: #fff;
      color: #642200; }
  .reason {
    padding: 60px 0;
    height: 457px; }
    .reason .title img {
      margin: 0 auto; }
    .reason .item {
      width: 100%; }
    .reason .reason-btn {
      width: 100%; }
  .news .box:nth-child(2) {
    margin: 0; }
  .news .box, .news .box-cell {
    width: 100%;
    height: 100%; }
  .news .box-cell {
    display: table; }
  .news .image {
    width: 20%;
    display: table-cell; }
    .news .image img {
      width: 100%;
      height: auto; }
  .news p {
    font-size: 12px; }
  .news .btn-new {
    width: 100%; }
  /*===================== SWEETS PAGE ===================*/
  .sweets-page {
    overflow: hidden;
    padding-bottom: 40px; }
  .moco-first-img, .moco-second-img {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 25px; }
  .moco-first-content, .moco-second-content {
    width: 100%;
    float: none; }
    .moco-first-content .content, .moco-second-content .content {
      margin: 0; }
  .moco-mybtn .mybtn {
    width: 100%; } }
